<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - FutureValue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@RenderSection("Scripts", required: false)
<body>
    <div class="container my-4">
        @RenderBody()
    </div>
</body>
</html>
